/* Update the search bar container */
.search-bar-container .search-input-wrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}

/* Styling the input field */
.search-bar-container .search-input {
  width: calc(100% - 80px); /* Adjusted to leave space for the button */
  padding: 10px 60px 10px 40px; /* Adjusted to leave space for the button and icon */
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
  background-color: #27384a;
  color: antiquewhite;
}

/* Input field focus state */
.search-bar-container .search-input:focus {
  border-color: #f4c752;
}

/* Search icon styling */
.search-bar-container .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 20px;
  color: #b4b3b3;
}

/* Button hover effect */
.search-bar-container .search-button:hover {
  background-color: #f4c752;
  transform: translateY(-50%) scale(1.05); /* Slight zoom effect */
}

/* Search results container */
.search-bar-container ul {
  list-style: none;
  margin: 10px 0 0 0;
  padding: 10px; /* Added padding */
  border: 1px solid #27384a;
  border-radius: 8px;
  background-color: #141C24;
  max-height: 400px; /* Increased max height */
  overflow-y: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100%;
  left: 0;
  width: 130% ;/* Adjusted to account for scrollbar */
  z-index: 1000;
}

/* Individual search result items */
.search-bar-container li {
  display: flex;
  align-items: center;
  padding: 15px; /* Increased padding */
  border-bottom: 1px solid #141C24;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Remove border from the last item */
.search-bar-container li:last-child {
  border-bottom: none;
}

/* Highlight hovered item */
.search-bar-container li:hover {
  background-color: #f4c752;
}

/* Add some padding at the bottom of the results to ensure the last item is fully visible */
.search-bar-container ul::after {
  content: '';
  display: block;
  height: 10px;
}

/* Style for game cover */
.search-bar-container .game-cover {
  width: 80px; /* Increased width */
  height: 80px; /* Increased height */
  margin-right: 15px; /* Adjusted margin for better spacing */
  border-radius: 5px;
  object-fit: cover; /* Ensure the image covers the container */
  object-position: center; /* Center the image in the container */
  /* Ensure the image fits within the container without being cut off */
  overflow: hidden;
}

/* Style for game title */
.search-bar-container .game-title {
  flex: 1;
  color: white;
  font-weight: bolder; /* Adjusted font weight */
  font-size: 1rem; /* Adjusted font size */
}

/* Style for game link */
.search-bar-container .game-link {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
}
