/* Container styling */
/* GIF styling */
/* GIF styling */
.login-gif {
  max-width: 700px; /* Adjust the size of the GIF */
  margin-bottom: 80px; /* Space between the GIF and form */
  margin-top: -200px; /* Move the GIF higher */
}


/* Center the form and GIF */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #141c25;
}


/* Form styling */
.login-form {
  width: 100%;
  max-width: 400px;
  padding: 0;
  background-color: transparent;
}

/* Header styling inside the form */
.login-form h2 {
  margin-bottom: 30px;
  font-size: 1.75rem;
  color: #e1e3e7;
  text-align: left;
  width: 100%;
}

/* Error message styling */
.error-message {
  color: #dc3545;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  text-align: center;
}

/* Form group styling */
.form-group {
  margin-bottom: 15px;
}

/* Label styling */
.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #e1e3e7;
  font-weight: bold;
  font-size: 1rem;
}

/* Input and button styling */
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #2c3e50;
  border-radius: 10px;
  background-color: #141c25;
  color: #e1e3e7;
  font-size: 1rem;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  margin-bottom: 15px;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #f4c752;
  box-shadow: 0 0 0 3px rgba(244, 199, 82, 0.3);
}

/* Button styling */
button {
  background-color: #f4c752;
  color: #141c25;
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

button:hover {
  background-color: #ddb847;
}


/* Sign up link styling */
.signup-link {
  text-align: center;
  margin-top: 20px;
  font-size: 1rem;
}

.signup-link p {
  color: #9e9e9e;
  font-size: 1rem;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.signup-link a {
  color: #f4c752;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  position: relative;
  z-index: 1;
}

.signup-link a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #f4c752;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  z-index: -1;
}

.signup-link a:hover::before {
  transform: scaleX(1);
}

.signup-link a:hover {
  color: #639cbd;
}

.signup-link .highlight {
  font-weight: bold;
  color: #ffffff;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.signup-link .highlight::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #141c25;
  left: 0;
  top: 0;
  z-index: -1;
  transition: width 0.3s ease-in-out;
  width: 0;
}

.signup-link .highlight:hover::before {
  width: 100%;
}


