/* Container for the GameList */
.container-category-results {
  padding: 0 15px;
  margin-top: 50px;
  margin-right: 10%;
  margin-left: 10%;
  position: relative; /* Ensure positioning context for background image */
  background-color: #1d2431; /* Original background color */
  transition: opacity 0.3s ease; /* Add transition for fade effect */
  border-radius: 15px;
}

.container-category-results h2 {
  color: #e1e3ff; /* Change to your desired color */
  font-size: 24px; /* Optional: Adjust font size if needed */
  font-weight: bold; /* Optional: Adjust font weight if needed */
  padding-top: 3%;
}
/* Adjust padding for different screen sizes */
@media (min-width: 576px) {
  .container-category-results {
    padding: 0 30px;
  }
}

@media (min-width: 768px) {
  .container-category-results {
    padding: 0 60px;
  }
}

@media (min-width: 992px) {
  .container-category-results {
    padding: 0 100px;
  }
}

@media (min-width: 1200px) {
  .container-category-results {
    padding: 0 150px;
  }
}

/* Background image */
.container-category-results::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./images.jpg') no-repeat center center/cover; /* Make sure path is correct */
  filter: blur(8px); /* Adjust blur intensity */
  z-index: -1; /* Ensure it's behind the content */
}

/* Ensure the main content is above the background */
.container-category-results > * {
  position: relative;
  z-index: 1; /* Ensure all content is above the background */
}


