body {
    background: #eee;
}

.password-modal-content {
    padding: 20px;
}

.separator {
    border-right: 1px solid #dfdfe0;
}

.icon-btn-save {
    padding-top: 0;
    padding-bottom: 0;
}

.input-group {
    margin-bottom: 10px;
}

.btn-save-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}

.panel-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    margin-right: auto; /* Pushes the button to the left */
}

.profile-img {
    width: 100px; /* Adjust size as needed */
    height: 100px;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image covers the area without distortion */
}

.text-right {
    text-align: right;
}
