.like-container-1 {
  position: absolute;
  top: 5px;
  right: 5px;
}

.like-container-1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.like-container-1 svg {
  position: relative;
  height: 30px;
  width: 30px;
  transition: all 0.3s;
  fill: #666;
}

.like-container-1 svg:hover {
  transform: scale(1.1) rotate(-10deg);
}

.like-container-1 input:checked ~ svg {
  fill: #2196f3;
}

