.footer{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding:calc(var(--padding-primary)*2/3)

}
.footer-containt{
  font-size: 15px;
}