.Body-Signup{
  padding: 40px;
  display: flex;


  justify-content:center;
  align-items: center;
  background:var(--color-darkest);
  border-radius: var(--border-radius-primary);
}
.contain{
  max-width:800px;
  width:100%;
  padding: 20px 80px;
  background-color: var(--color-dark);
  padding: 25px 30px;
  border-radius: var(--border-radius-primary);
  border: 5px var(--color-primary) solid;


}
form .user-details{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
form .user-details .input-box{
  width:80%;
  margin:20px 0 20px 0;

}

form .user-details .input-box .input-details{
  font-weight: 500;
  margin-bottom: 5px;
  display: block;

}
form .user-details .input-box input{
  width:100%;
  height:45px;
  outline: none;
  border-radius: var(--border-radius-primary);
  border: 2px solid #696868;
  border-bottom-width: 3px;
  padding-left: 15px;
  font-size: 16px;

}
form .user-details .input-box input:focus,
form .user-details .input-box input:valid{
  border-color: rgb(232, 230, 230);

}



.submit-button input{
  background-color: var(--color-primary);
}


.submit-button{
  height:45px;
  margin:45px 0;
  display: flex;
  justify-content:center ;
  
}
.submit-button input{
  width:50%;
  height: 100%;
  border-radius: calc(var(--border-radius-primary)*2);
  color:white;
  letter-spacing: 1px;
  font-weight: 500;
  border: none;

}

.imgSignUp{
  width:100%;
  margin-bottom: 20px;
  height: 160px;
  background-image: url('../../components/LoginForm/login.jpg');
  background-position: center center;
  background-size: cover;
  border-radius: 23px;
  padding:  60px;
}
